.property-summary {
  display: flex;
  justify-content: last baseline;
  flex-wrap: wrap;
  gap: 1px;
  margin: 12px 0;
  padding: 10px 12px;
  border: 1px solid #eee;
  background-color: #fafafa;
}

.summary-item {
  flex: 1;
  min-width: 160px;
}

.summary-item h3 {
  margin: 0;
  font-size: 20px;
  color: #222;
}

.summary-item h4 {
  margin: 0;
  font-size: 20px;
  color: #222;
}
.summary-item h5 {
  margin: 0;
  font-size: 20px;
  color: #222;
}
.summary-item h6 {
  margin: 0;
  font-size: 20px;
  color: #222;
}