.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

.full-width-gallery {
  margin-bottom: 30px;
}


.main-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.left-content {
  flex: 2;
}

.right-sidebar {
  flex: 1;
  position: sticky;
  top: 20px;
}
